.background {
  width: 400px;
  height: 750px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  display: grid;
  grid-template-rows: 2% 40% 55% 3%;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: #69535325;
}

.firstHr {
  width: 400px;
  height: 0.1px;
  grid-area: 2;
  background-color: rgba(0, 0, 0, 0.76);
  position: relative;
  margin-top: 70%;
  flex-wrap: nowrap;
}
.calcBtns {
  grid-area: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.isEqualTo,
.increase,
.multiply,
.divide,
.procents,
.deleate,
.decrease,
.num1,
.num2,
.num3,
.num4,
.num5,
.num6,
.num7,
.num8,
.num9,
.num0,
.dot,
.brackets,
.deleteOneNum {
  width: 85px;
  height: 70;
  border-radius: 15%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  background-color: #fff8f800;
  border-radius: 9px;
  border-color: #ffffff00;
  color: rgb(0, 0, 0);
  margin-right: 5px;
  margin-bottom: 10px;
}

.deleate {
  background-color: #ff5959;
  color: white;
}

.isEqualTo {
  background-color: #66ff7f;
  color: white;
}
.NumResault {
  grid-area: -4;
  width: 390px;
  height: 100px;
  position: relative;
  margin-left: -101%;
  margin-top: 30%;
  text-align: right;
  background-color: #cfc9c965;
  border-color: #34343400;
  color: rgba(0, 0, 0, 0.705);
  font-size: xx-large;
  overflow: visible;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.brackets {
  width: 42.5px;
  height: 35;
  color: #66ff7f;
}

.brackets:nth-child(3) {
  margin-left: -11px;
}
.increase,
.multiply,
.divide,
.procents,
.decrease {
  color: #66ff7f;
}
.changeTheme {
  position: absolute;
  margin-top: 260px;
  margin-left: 00px;
  border-color: #34343400;
  color: rgb(0, 0, 0);
  background-color: #2e2d2d00;
  cursor: pointer;
  font-size: large;
  font-weight: lighter;
}
.madeBy{
  position: absolute;
  margin-top: -33px;
  font-size: medium;
  font-family: montserrat;
  font-weight: 900;
  color: rgb(145, 144, 144);
}
@media (max-width: 425px) {
  .background {
    margin-top: 50px;
    width: 300px;
    height: 600px;
    display: grid;
    grid-template-rows: 2% 40% 55% 3%;
    grid-template-columns: 100%;
    overflow: hidden;
  }
  .NumResault {
    width: 300px;
  }
  .brackets {
    width: 31px;
    height: 60px;
  }
  .brackets:nth-child(3) {
    margin-left: -15px;
    position: relative;
  }
  .brackets:nth-child(2) {
    margin-left: 1px;
  }
  .increase,
  .isEqualTo,
  .multiply,
  .divide,
  .procents,
  .deleate,
  .decrease,
  .num1,
  .num2,
  .num3,
  .num4,
  .num5,
  .num6,
  .num7,
  .num8,
  .num9,
  .num0,
  .dot,
  .deleteOneNum {
    width: 62px;
    height: 60px;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  firstHr {
    width: 300px;
    height: 0.1px;
  }
  .procents {
    position: relative;
    margin-left: -4px;
  }
  .changeTheme {
    margin-top: 625px;
    margin-left: 50px;
  }
  .madeBy{
    margin-top: 15px;
  }
}
